<!DOCTYPE html>
<html>
    <head>
        <title>Kenetic Studios</title>
        <link rel="stylesheet" href="contact.css" type="text/css" />
    </head>
    <body>

                                    <!--HEADER-->
        
        <div class="header" style="margin-bottom: 0;">
            <a href="/">
                <img src="images/kinetic.png" style="width: 25%; margin-top: 1%; margin-left: 1%;">
            </a>
            <a href="/contact" class="link">Contact</a>
            <a href="" class="link">Studio</a>
            <a href="/work" class="link">Work</a>
        </div>
        <div>
            <img src="images/kenidentity.png" style="width:100%;"/>
        </div>
        

            <!--footer-->
            <div style="font-size:1.3vw; background-color:  #f0f0f0">
            <p style="margin-left:2.5%; display: inline-block;">Queens, NY, USA</p>
            <p style="text-align: center; display: inline-block; margin-left: 28.5%;">info@Kineticdesign.com</p>
            <div style="display: inline-block;">
                <img src="">
                <img src="">
                <img src="">
        </div>
        </div>
    </body>