<!DOCTYPE html>
<html>
    <head>
        <title>Kenetic Studios</title>
        <link rel="stylesheet" href="work.css" type="text/css" />
    </head>
    <body>

                                    <!--HEADER-->
        
            <div class="header">
               <a href="/">
                    <img src="images/kinetic.png" style="width: 25%; margin-top: 1%; margin-left: 1%;">
                </a>
                <a href="/contact" class="link">Contact</a>
                <a href="" class="link">Studio</a>
                <a href="/work" class="link">Work</a>
            </div>
        
        
                                    <!--MIDDLE-->
                                
                                
                                <!--Projects-->
            <div class="options">
                <a href="/work" class="link" style="float: left; font-size:2vw; margin-bottom:0%;">All Work</a>
                <a href="/web" class="link" style="float: left; font-size:2vw; margin-bottom:0%;">Web</a>
                <a href="/print" class="link" style="float: left; font-size:2vw; margin-bottom:0%;">Print</a>
                <a href="/brand" class="link" style="float: left; font-size:2vw; margin-bottom:0%;">Brand</a>
            </div>
                                
            <table border="0" cellpadding="0" style="margin-left:auto; margin-right: auto;">
            <tbody>
            <tr>
			 <td align="center" valign="center" >
			     <div class="projects" style="background:url(images/img6.png) no-repeat; background-size: 100%;">
			         <a href="" style="text-decoration: none; font-size: 1.3vw; color: white;">
			             <div class="projectsoverlay">
			                 <div style="border: .2em solid white; width: 50%; margin-top: 50%;">
			                     <p class="projtitle">
			                         lorem
			                     </p>
			                 </div>
			             </div>
			         </a>
			     </div>
			</td>
		     </tr>
		    </tbody>
		    </table>
		    
		    <div style=" text-align: center; margin-top:2%;">
		        <a href="/work" class="link" style="float: none;"> View All Projects</a>
		    </div>
        <div style="font-size:1.3vw; background-color:  #f0f0f0">
            <p style="margin-left:2.5%; display: inline-block;">Queens, NY, USA</p>
            <p style="text-align: center; display: inline-block; margin-left: 28.5%;">info@Kineticdesign.com</p>
            <div style="display: inline-block;">
                <img src="">
                <img src="">
                <img src="">
        </div>
        </div>
    </div>
    </body>
</html>