body {
    margin: 0;
    font-family: 'Helvetica';
}
.header {
    background-color: #f0f0f0;
    height: 5vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
}

.link {
    float: right;
    padding: .25vw;
    margin: 1.25vw 2.5vw 1.25vw 0vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: #c3c3c3;
}

.link:hover {
    color: #000000;
    transition: .5s;
}

.footer-line {
    width: 95%;
    height:.125vw;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}


.img-container {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

.left-img {
    margin: 1% .35% 1.5% 0%;
    width: 32%;
}

.mid-img {
    margin: 1% 1% 1.5% 1%;
    width: 32%;
}
.right-img {
    margin: 1% 0% 1.5% .35%;
    width: 32%;
}

.largebox {
    width: 87vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.largeboxoverlay {  
    background: rgba(0, 0, 0, .75);
    text-align: center;
    opacity: 0;    
    width: 87vw;
    height: 100%;
}

.largebox:hover .largeboxoverlay {
    opacity: 1;
    transition: .5s;
}

.main-img {
    position: relative;
    top: 5%;
}

.main {
    width: 100%
}

/*.hover-link a {
    background-color: #000000;
}

.hover-link a:hover {
    background-color: #000000;
    opacity: .5;
}*/

.button-box {
    font-size: 1.75vw;
    color: white;
    width: 26%;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.main-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

  

a {
    text-decoration: none;
}



/*left overlay*/

.leftbox {
    width: 22.2vw;
    height: 72.2vh;
    margin-left: auto;
    margin-right: auto;
}
.smallboxoverlay {  
    background: rgba(0, 0, 0, .75);
    text-align: center;
    opacity: 0;    
    width: 22.2vw;
    height: 54.2vh;
    display: inline-block;
}

.smallbox:hover .smallboxoverlay {
    opacity: 1;
    transition: 0.5s;
}



/*mid overlay*/

.midbox {
    width: 22.2vw;
    height: 54.2vh;
    margin-left: auto;
    margin-right: auto;
    margin-top:1.5%;
}
.midboxoverlay {  
    background: rgba(0, 0, 0, .75);
    text-align: center;
    opacity: 0;    
    width: 22.2vw;
    height: 54.2vh;
    display: inline-block;
}

.midbox:hover .midboxoverlay {
    opacity: 1;
    transition: 0.5s;
}




/*right overlay*/

.rightbox {
    width: 22.2vw;
    height: 54.2vh;
    margin-left: auto;
    margin-right: 15%;
    float: right;
    margin-top: 1.5%;
}
.rightboxoverlay {  
    background: rgba(0, 0, 0, .75);
    text-align: center;
    opacity: 0;    
    width: 22.2vw;
    height: 54.2vh;
    display: inline-block;
}

.rightbox:hover .rightboxoverlay {
    opacity: 1;
    transition: 0.5s;
}

.button-text {
    border: .3vw solid white;
}

table {
    border-collapse: separate;
    border-spacing: 1.6vw;
    border-color: gray;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.projects {
    width: 27.9vw;
    height: 32vw;

}

.projects:hover .projectsoverlay{
    transition: 0.4s;
    opacity: 1;
}

.projectsoverlay {
    opacity: 0;
    background: rgba(0, 0, 0, .75);
    position: absolute;
    width: 27.9vw;
    height: 32vw;
    
    
}

.projtitle{
    line-height:0%;
}